/*Includes most of the animations and keyframes*/

@keyframes fade-right {
  0% { transform: translateX(-5%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1;}
}

@keyframes fade-down {
  0% { transform: translateY(-2%); opacity: 0; }
  100% { transform: translateY(0%); opacity: 1; }
}

@keyframes fade-in {
  from {  opacity: 0; }
  to {  opacity: 1; }
}
