.SignUpContainer {
  text-align: center;
  animation: fade-down 1s forwards;
}

.SignUpContainer h1 {
  color: #00829e;
  font-size: 30px;
}

.SignUpForm {
  max-width: 1200px;
  width: 80%;
  margin: auto;
}

.SignUpForm form {
  padding: 20px;
  max-width: 400px;
  background-color: #F4F4F4;
  margin: 0 auto;
  width: 40%;
  border-radius: 5px;
  border: solid 1px #DDD;
}

.SignUpForm input{
  display: block;
  padding: 10px;
  border: none;
  max-width: 300px;
  width: 50%;
  font-size: 14px;
  border-bottom: solid 3px lightblue;
  margin: 5px auto;
  border-radius: 0;
}

.SignUpForm input:focus  {
  outline: none;
  border-bottom: solid 3px #00829e;
  animation: pop 0.5s forwards;
}

.SignUpForm button {
  max-width: 100px;
  padding: 7px 10px;
  font-size: 15px;
  color: white;
  background-color: #34D027;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  width: 35%;
  cursor: pointer;
  -webkit-appearance: none;
}
.SignUpForm p {
  color: red;
  animation: pop 1s forwards;
}

.SignUpContainer hr {
  width: 100%;
  margin-top: 2rem;
  border: solid 1px #DDD;
}

.SignUpSuccess {
  font-size: 30px;
  font-weight: 700;
  padding: 100px;
  text-align: center;
  color: #00829e;
}

.SignUpSuccess img {
  height: 70px;
  margin: auto;
  display: block;
}

.MemberPortal {
  color: #777;
  width: 40%;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  margin: 0 auto;
}

.MemberPortal:hover {
  text-decoration: underline;
}
@media (max-width: 800px){
  .SignUpContainer {
    width: 100%;
  }

  .SignUpForm form{
    width: 90%;
  }

  .SignUpSuccess {
    font-size: 20px;
  }
  .SignUpSuccess img {
    height: 70px;
  }
}